* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input,
textarea {
    outline: none;
}

input:active,
textarea:active {
    outline: none;
}

:focus {
    outline: none;
}

textarea {
    resize: none;
}

textarea {
    resize: vertical;
}

textarea {
    resize: horizontal;
}

body {
    font-family: sans-serif;
}

.form-style {
    width: 40%;
    margin: 20px auto;
    border: 2px solid #aaa5a5;
    border-radius: 10px;

}

.main-titel {
    color: #fff;
    text-align: center;
    padding: 15px 0;
    background: #28ce28
}

#register {
    padding: 10px;
    color: grey
}

#submit {
    background: #56c456;
    border: none;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    width: 100%;
}

input{
    padding: 5px 0;
}
input:focus{
    border: 2px solid lightblue;
}
#submit:hover {
    background: #50ac50;
    cursor: pointer
}

#notification,
#alert {
    color: red;
    font-size: 10px;
    position: absolute
}

#alert {
    margin-top: -15px
}

label {
    margin-top: 15px;
    display: block
}

input[type=text] {
    width: 100%;
}
#position{
    width: 100%;
    padding: 5px 0;
}
#personal-window {
    width: 35%;
    text-align: center;
        display: none
}

#personal-window .main-titel {
    padding: 40px 0;
    position: relative;
}

.footer {
/*    padding: 15px 0*/
    background: #28ce28
}
.footer a {
    padding: 15px 5px 15px 0;
    display: inline-block
}
.footer a img{
    width: 15px;
    height: 20px;
}

.img {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 7px solid #fff;
    border-radius: 50%;
    left: 50%;
    margin-left: -50px;
    bottom: 0;
    margin-bottom: -50px;
}

#personal-window h3 {
    margin-top: 70px;
}

#personal-window h5 {
    color: grey;
    font-size: 12px;
    font-weight: 300;
    margin-top: 10px;
}

#personal-window h6 {
    margin: 20px 0;
    font-size: 14px;
}

#personal-window button {
    margin: 20px 0;
    padding: 5px;
    color: #28ce28;
    font-weight: bold;
    border: 2px solid #28ce28;
    background: #fff;
    cursor: pointer;
}

#personal-window button:hover {
    border: border: 2px solid #6ead6e;
    color: #6ead6e;
}
